{# src/Resources/guides.html.twig for GuidesController.php #}
{% extends "layout/layout.html.twig" %}
{% block javascripts %}
    {{ encore_entry_script_tags('backoffice') }}
{% endblock %}
{% block body %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a aria-controls="nav-home" aria-selected="true" class="nav-item nav-link active" data-toggle="tab" href="#nav-home" id="nav-home-tab" role="tab">Manage categories</a>
            <a aria-controls="nav-profile" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#nav-profile" id="nav-profile-tab" role="tab">Manage articles</a>
            <a aria-controls="nav-cat" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#nav-cat" id="nav-cat-tab" role="tab">Add categories</a>
            <a aria-controls="nav-art" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#nav-art" id="nav-cat-tab" role="tab">Add articles</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in categories %}
                        <tr>
                            <th scope="row">
                                {{cat.id}}</th>
                            <td>
                                {{cat.name}}</td>
                            <td>
                                <button class="btn btn-danger" id="deleteCategory" type="button">Delete</button>
                                <button type="button" id="updateCategory" class="btn btn-info">Update</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div aria-labelledby="nav-cat-tab" class="tab-pane fade show" id="nav-cat" role="tabpanel">
            {{ form(formCategory) }}
            </div>
            <div aria-labelledby="nav-art-tab" class="tab-pane fade show" id="nav-art" role="tabpanel">
                {{ form(formArticle) }}
                </div>
                <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for art in articles %}
                                <tr>
                                    <th scope="row">
                                        {{art.id}}</th>
                                    <td>
                                        {{art.name}}</td>
                                    <td>
                                        <button class="btn btn-danger" id="deleteArticle" type="button">Delete</button>
                                        <button type="button" id="updateArticle" class="btn btn-info">Update</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}
